.text-area {
    text-area-background: white;
    -fx-text-fill: white;
    -fx-font-family: Consolas;
    -fx-highlight-fill: #00ff00;
    -fx-highlight-text-fill: #000000;
    -fx-text-fill: #00ff00;
}

.text-area .content {
    -fx-background-color: black;
}